<div class="container-fluid">
  <div class="embed-responsive embed-responsive-16by9">

    <div class="searchbox">
      <%= form_for :search, url: searches_path do |f| %>
      <p>
        <%= f.label :search_city %><br>
        <select name="search_city">
          <option value="San Francisco">San Francisco</option>
        </select>
      </p>
      <p>
        <%= f.label :search_price %><br>

        0
        <input type="range" name="search_price" min="0" max="10000" step="100" value="1000"> 10000
      </p>
      <p>
        <%= f.label :search_bedroom %><br>
        <select name="search_bedroom">
          <option value="Studio">Studio</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5+">5</option>
        </select>
      </p>
      <p>
        <%= f.label :search_period %>(Optional)<br>
        <%= f.text_field :search_period %>
      </p>
      <p>
        <%= f.label :input_address %>(Optional)<br>
        <%= f.text_field :input_address %>
      </p>
      <p>
        <%= f.label :input_mode %>(Optional)<br>
        <%= f.text_field :input_mode %>
      </p>
      <p>
        <%= f.label :input_commute_time %>(Optional)<br>
        <%= f.text_field :input_commute_time %>
      </p>
      <p>
        <%= f.submit %>
      </p>
      <% end %>
    </div>

    <iframe id='player' width="2500" height="1406" src="https://www.youtube.com/embed/FarSjtiP3Sc?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=FarSjtiP3Sc&amp;enablejsapi=1&version=3" frameborder="0">  <div id="background">
    </iframe>
  </div>
</div>
</div>



