
<%= form_for :search, layout: :inline, url: searches_path do |f| %>


<%= f.label :search_city %>
<select name="search_city" class: "form-control">
  <option value="San Francisco">San Francisco</option>
  <option value="New York City">New York City</option>
  <option value="Melbourne">Melbourne</option>
  <option value="Beijing">Beijing</option>
</select>

<%= f.label :search_price %>
<%= f.text_field :search_price, placeholder: "4000", class: "form-control"  %>

<%= f.label :search_bedroom %>
 <select name="search_bedroom" class: "form-control">
  <option value="Studio">Studio</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5+</option>
</select>

<%= f.label :search_period %>
 <select name="search_period" class: "form-control">
  <option value="1">1 year</option>
  <option value="2">2 years</option>
  <option value="3">3 years</option>
  <option value="4">4 years</option>
  <option value="5">5+ years</option>
</select>
<!-- slider that kind of works -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
  <!-- <head> -->
 <!--  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title> HTML5 Slider </title>
  <script type="text/javascript">
  function showValue(num){
           var result = document.getElementById('result');
           result.innerHTML = num;
  }
  </script>
  </head>
  <body>

  <input type="range" id="sliderBar" min="0" max="100" step="1" value="0" onChange="showValue(this.value);"/>
  <div id="result" style="height:40px;width:40px;border:1px solid #999">
  </div>
  </body> -->


<div class="bfh-slider" data-name="slider3" data-min="5" data-max="25">
</div>

<%= f.submit %>


<% end %>

<video id="hero" preload="auto" autoplay="true" loop="loop">
  <source src="https://s3.amazonaws.com/fancyfootageclips/website/vid/2015-10-04-dtla.mp4" type="video/mp4">
  </video>




