 <form id='search-again' class="form-inline" name="search" action="/searches" method="post" style="inline">
   <div id='whole-form'>
     <h1></h1>
     <form>
      <div class="row">
        <div class="large-12 columns">
          <input type="text" value="<%= @params_hash["city"] %>" name="search[search_city]"/>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <select name="search[search_bedroom]" class="form-control" value=<%= @params_hash["bedrooms"] %>>
            <option value="Studio">Studio</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5+</option>
          </select>
        </div>

        <div class="large-6 columns">
          <select name="search[search_period]" class="form-control">
            <option value="1">1 year</option>
            <option value="2">2 years</option>
            <option value="3">3 years</option>
            <option value="4">4 years</option>
            <option value="5">5+ years</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <label>Min Price</label>
          <div class="range-slider radius" data-slider data-options="start: 500; end: 10000;step: 100; display_selector: #min-price-slider;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
          </div>
        </div>

        <div class="large-3 columns" style="padding-top:2em">
          <div class="row collapse">
            <span id="sliderOutput3"></span>
            <div class="small-3 columns">
              <span class="postfix">$</span>
            </div>
            <div class="small-9 columns">
              <input class="min-price-js" type="number" name="search[search_min_price]" value=<%= @params_hash["min_price"] %>>
            </div>
          </div>
        </div>

        <div class="large-3 columns">
          <label>Max Price</label>
          <div class="range-slider radius" data-slider data-options="start: 500; end: 10000;step: 100; display_selector: #max-price-slider;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
          </div>
        </div>


        <div class="large-3 columns" style="padding-top:2em">
          <div class="row collapse">
            <div class="small-3 columns">
              <span class="postfix">$</span>
            </div>
            <div class="small-9 columns">
              <input class="max-price-js" type="number" name="search[search_max_price]" value=<%= @params_hash["max_price"] %>>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="large-12 columns">
          <input id="input-first" name="search[search_address]" class="form-control" type="text" placeholder="Work Address" value="<%= @params_hash["work_address"] %>"></input>
        </div>
      </div>

      <div class="row">
        <div class="large-8 columns">
          <select name="search[search_mode]" class: "form-control" value=<%= @params_hash["mode_of_transport"] %>>
            <option value="transit">Public transit</option>
            <option value="bike">Bike</option>
            <option value="drive">Drive</option>
            <option value="walk">Walk</option>
          </select>

        </div>

        <div class="large-2 columns">
         <input type="text" name="search[search_min_time]" placeholder="min" class: "form-control" value=<%=@params_hash["min_commute_time"] %>>
       </div>

       <div class="large-2 columns">
        <input type="text" name="search[search_max_time]" placeholder="max" class: "form-control" value=<%=@params_hash["max_commute_time"] %>>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <center><label>How much do you care about:</label></center>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <label class="large-6 columns">Commute?:</label>
        <label class="large-6 columns">Price?:</label>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="range-slider radius" data-slider = "<%= @params_hash["commute_weight"] %>" data-options="start: 1; end: 5;step: 1;">
            <span class="range-slider-handle" role="slider" tabindex="0" ></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden" name="search[commute_weight]">
          </div>
        </div>

        <div class="large-6 columns">
          <div class="range-slider radius" data-slider = "<%= @params_hash["price_weight"] %>" data-options="start: 1; end: 5;step: 1;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden" name="search[price_weight]">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="row">
        <label class="large-6 columns">Crime?:</label>
        <label class="large-6 columns">Walkscore?:</label>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="range-slider radius" data-slider = "<%= @params_hash["crime_weight"] %>" data-options="start: 1; end: 5;step: 1;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden" name="search[crime_weight]">
          </div>
        </div>

        <div class="large-6 columns">
          <div class="range-slider radius" data-slider = "<%= @params_hash["walkscore_weight"] %>" data-options="start: 1; end: 5;step: 1;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden" name="search[walkscore_weight]">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="large-12">
        <center><input class='btn submit-btn' type="submit" value="Submit"></center>
      </div>
    </div>


  </form>
</div>
