<div class="container">
<div class ="row">
  <div class="col-md-12">
    pop
  </div>
</div>
</div>

<div class="container">
<div class="row-fluid">
  <div id='map' class="col-md-6"></div>

  <div id="poop" class="col-md-6">
    <table class="table-condensed table-striped table-hover">
      <tr>
        <th>Address</th>
        <th>$/mo</th>
        <th>WalkScore</th>
        <th>Crime Rate</th>
        <th>Increase Estimate<th>
      </tr>
      You got <%= @sorted_results.count %> results!

      <% @sorted_results.each_value do |address| %>
        <tr>
          <td><a href="<%= address.listing_url %>" target="_blank"><%= address.street_number %> <%= address.street_name %> <%= address.street_type %></td>

          <td> $<%= number_with_delimiter(address.price, :delimiter => ",") %>
          <td> <%= address.walkscore %> </td>

          <td> <%= address.crime_rate %> </td>


          <td> $<%= number_with_delimiter(address.rental_average(@length_of_stay), :delimiter => ",") %> over <%= @length_of_stay %> years </td>
        </tr>
      <% end %>

    <table>
  </div>

</div>

<canvas id="myChart" width="400" height="400"></canvas>


<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoicmljZWI1MyIsImEiOiJjaWg2aHRxcXAwYzYxdWpseHUwemloZ3gyIn0.wmQAtxnSiqgcwz1-66cypQ';
    var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([37.7570841,-122.45], 12);

    var myLayer = L.mapbox.featureLayer().addTo(map);
    var geoJson = []

    <% @long_lat_link.each do |longlatlink| %>
    geoJson.push({
      type: 'Feature',
      "geometry": { "type": "Point", "coordinates": <%= longlatlink[0] %>},
      "properties": {
        "icon": {
          "className": "dot",
          "iconSize": [600,100]
        },
        "url": "<%= longlatlink[1] %>",
        "marker-symbol": "star",
        "marker-color": "#ff8888",
        "marker-size": "large",
        "city": "Washington, D.C.",
        "image": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/035/2e3/1c67744.jpg"
      }
    });
    <% end %>

// Add custom popups to each using our custom feature properties
myLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
    '<img src="' + feature.properties.image + '" />' +
    feature.properties.city +
    '</a>';

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
      closeButton: false,
      minWidth: 320
    });
  });

// Add features to the map
myLayer.setGeoJSON(geoJson);

///////////////////////////////////////////
var ctx = document.getElementById("myChart").getContext("2d");

var data = {
    labels: ["Rent", "Commute Time", "Crime Rate", "Walkscore"],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [50, 10, 10, 20]
        },
        {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [35, 7, 8, 18]
        }
    ]
};

var myRadarChart = new Chart(ctx).Radar(data);


</script>





