  <div id="container">
    <div class="top-bar">
      top nav
    </div>
    <div class="small-6 columns" id="left_column">
      <div class="row" id="pop_up">pop up bar</div>
      <div class="row" id="left_up">
        <table class="table-condensed table-hover">

        <tr>
          <th>Address</th>
          <th>$/mo</th>
          <th>WalkScore</th>
          <th>Crime Rate</th>
          <th>Increase Estimate</th>
          <th>More</th>
          <th>LONGLATLIG</th>
        </tr>
        You got <%= @sorted_results.count %> results!

        <% @sorted_results.each_value do |value_hash| %>
        <tr>
          <td><a href="<%= value_hash["address"].listing_url %>" target="_blank"><%= value_hash["address"].street_number %> <%= value_hash["address"].street_name %> <%= value_hash["address"].street_type %></td>

          <td> $<%= number_with_delimiter(value_hash["address"].price, :delimiter => ",") %>
            <td> <%= value_hash["address"].walkscore %> </td>

            <td> <%= value_hash["address"].crime_rate %> </td>


            <td> $<%= number_with_delimiter(value_hash["address"].rental_average(@length_of_stay), :delimiter => ",") %> over <%= @length_of_stay %> years </td>
          </tr>
            <tr>
                <!-- <canvas id="myChart<%= value_hash["address"].id %>" width="400" height="400"></canvas> -->
            </tr>
          <% end %>

          <table>
      </div>
    </div>
    <div class="small-6 columns" id="right_column">
      <div class="row" id="map"></div>
      <div class="row" id="right_down">right_down</div>
    </div>
  </div>

<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoicmljZWI1MyIsImEiOiJjaWg2aHRxcXAwYzYxdWpseHUwemloZ3gyIn0.wmQAtxnSiqgcwz1-66cypQ';
  var map = L.mapbox.map('map', 'mapbox.streets')
  .setView([37.7570841,-122.45], 12);

  var myLayer = L.mapbox.featureLayer().addTo(map);
  var geoJson = []

  <% @long_lat_link.each do |longlatlink| %>
  geoJson.push({
    type: 'Feature',
    "geometry": { "type": "Point", "coordinates": <%= longlatlink[0] %>},
    "properties": {
      "icon": {
        "className": "dot",
        "iconSize": [600,100]
      },
      "url": "<%= longlatlink[1] %>",
      "marker-symbol": "",
      "marker-color": "#ff8888",
      "marker-size": "medium",
      "city": "Washington, D.C.",
      "image": "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/035/2e3/1c67744.jpg"
    }
  });
  <% end %>




// Add custom popups to each using our custom feature properties
myLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<a target="_blank" class="popup" href="' + feature.properties.url + '">' +
    '<img src="' + feature.properties.image + '" />' +
    feature.properties.city +
    '</a>';

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
      closeButton: false,
      minWidth: 320
    });
  });




// Add features to the map
myLayer.setGeoJSON(geoJson);

$("tbody tr").click(function() {
  var index = $("tbody tr").index(this)
  console.log("Row Index: " + index)
  var long_lat = (geoJson[index].geometry.coordinates)
  console.log("Marker LatLong: " + long_lat)
  // map.panTo(long_lat, 5)
  map.setView(long_lat.reverse(), 14)
  long_lat.reverse()
});


// Hovering mapbox marker hilights appropriate row on results table
$(".leaflet-marker-icon").mouseover(function(){
  var index = $(".leaflet-marker-icon").index(this)
  console.log("Marker Inex: " +  index)
  $("tbody tr:eq(" + (index + 1) + ")").css({ "background-color": "#2A363B", "color": "#E84A5F" })
}).mouseout(function() {
  var index = $(".leaflet-marker-icon").index(this)
  $("tbody tr:eq(" + (index + 1) + ")").css({ "background-color": "", "color": "" })

});

// Hovering on results row hilights mapbox marker
$("tbody tr").mouseover(function(){
  var index = $("tbody tr").index(this)
  console.log("Row Index: " + index)
  // console.log(geoJson[index]["properties"]["marker-symbol"])
  console.log(geoJson[index].properties["marker-symbol"])
  geoJson[index].properties["marker-symbol"] = "heart"
  geoJson[index].properties["marker-size"] = "large"
  myLayer.setGeoJSON(geoJson);

  // geoJson[index].setIcon({"marker-symbol": "heart"})
}).mouseout(function() {
  var index = $("tbody tr").index(this)
  geoJson[index].properties["marker-symbol"] = ""
  geoJson[index].properties["marker-size"] = "medium"
  myLayer.setGeoJSON(geoJson);
});

///////////////////////////////////////////
<% @sorted_results.each_value do |value_hash| %>

var ctx = document.getElementById("myChart<%= value_hash["address"].id %>").getContext("2d");
var data = {
  labels: ["Rent", "Commute Time", "Crime Rate", "Walkscore"],
  datasets: [
  {
    label: "perfect weight",
    fillColor: "rgba(220,220,220,0.2)",
    strokeColor: "rgba(220,220,220,1)",
    pointColor: "rgba(220,220,220,1)",
    pointStrokeColor: "#fff",
    pointHighlightFill: "#fff",
    pointHighlightStroke: "rgba(220,220,220,1)",
    data: [
    <%= value_hash["price_weight"] %>,
    <%= value_hash["commute_weight"] %>,
    <%= value_hash["crime_weight"] %>,
    <%= value_hash["walkscore_weight"] %>
    ]
  },
  {
    label: "actual weight",
    fillColor: "rgba(151,187,205,0.2)",
    strokeColor: "rgba(151,187,205,1)",
    pointColor: "rgba(151,187,205,1)",
    pointStrokeColor: "#fff",
    pointHighlightFill: "#fff",
    pointHighlightStroke: "rgba(151,187,205,1)",
    data: [
    <%= value_hash["pindex_price"] %>,
    <%= value_hash["pindex_commutescore"] %>,
    <%= value_hash["pindex_crimerate"] %>,
    <%= value_hash["pindex_walkscore"] %>
    ]
  }
  ]
};

var myRadarChart = new Chart(ctx).Radar(data);

<% end %>
</script>





